* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex; /* Gör headern till en flex-container */
    flex-direction: column; /* Låt innehållet ordnas vertikalt */
    align-items: center; /* Centrera horisontellt */
    justify-content: center; /* Centrera vertikalt */
    height: clamp(30vh, 30vh, 30vh); /* Sätt höjd på headern */
    position: relative; /* För att kunna justera rubriken med positionering */
    margin-top: 30px;
}

.header-image {
    width: calc(100% - 60px); /* Minska bredden för att ta hänsyn till marginalerna */
    height: 100%; /* Gör bilden 100% av headerns höjd */
    object-fit: cover;
    border-radius: 20px; /* Rundade kanter */
    margin: 0; /* Ta bort marginaler */
    position: absolute; /* Gör bilden absolut positionerad */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Lägg till skugga på headern */
}

.header-title {
    text-align: center; /* Centrera rubriken */
    color: #ffffff ; /* Textfärg på knappen */
    margin: 0; /* Ta bort standardmarginaler */
    font-weight: bold; /* Fet stil för rubriken */
    position: relative; /* Positionera rubriken relativt till headern */
    z-index: 1; /* Se till att rubriken ligger ovanför bilden */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px; 
    font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem); /* Storlek på H1 */
    text-shadow: 1px 3px 3px rgb(0, 0, 0); /* Lägg till textskugga */

}

.container {
    display: flex;
    margin: 30px 30px 30px 30px; 
}

.sidebar {
    width: 1700px; /* Öka bredden på navigeringen */
    background-color: #007a79;
    border-radius: 20px; /* Rundade kanter */
    color: #fff;
    padding: 30px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 15px;
    margin: 0px;
    
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px; 
    font-size: clamp(1.2rem, 4vw + 1rem, 0.7rem); /* Storlek på H1 */
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.638); /* Lägg till textskugga */
}

.sidebar a:hover {
    background-color: #555;
    border-radius: 20px; /* Rundade kanter */
    padding: 0px 15px 0px 15px;

}




.content {
    flex-grow: 1;
    padding: 0; /* Om du vill ta bort padding */
    margin-left: 30px; /* Lägg till ett mellanrum mellan sidebar och content */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.image-grid img {
    width: 100%;
    height: 100%; /* Gör bilderna anpassningsbara till hela cellen */
    object-fit: cover; /* Bevara bildens proportioner */
    border-radius: 20px;
}


footer {
    background-color: #007a79;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    border-radius: 20px; /* Rundade kanter */
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


/* Mobil (upp till 600px) */
@media (max-width: 600px) {
    .header-title {
        font-size: clamp(1.2rem, 4vw + 1rem, 2.5rem);
    }

    .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerar innehållet i container */
}
    .sidebar {
        width: 100%; /* Gör sidebar 100% av skärmens bredd */
        padding: 20px;
        margin-bottom: 20px;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        align-items: center; /* Vertikal centrering av innehållet */
        justify-items: center; /* Horisontell centrering av innehållet */
        margin-left: -30px; /* Lägg till ett mellanrum mellan sidebar och content */

    }
    
    .image-grid img {
        max-width: 100%; /* Ser till att bilderna inte överstiger förälderns bredd */
        height: auto; /* Bevara bildens proportioner */
        object-fit: cover; /* Anpassa bilden till sin cell */
        border-radius: 20px;
        margin: 0 auto; 
    }
    
    
}

/* Surfplatta (601px till 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .header-title {
        font-size: clamp(3rem, 4vw + 1rem, 3rem);
    }

    .container {
        flex-direction: column; /* Ställ in sidebar och content ovanpå varandra */
        margin: 30px;
    }

    .sidebar {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Två kolumner för bilder */
        margin-left: -30px; /* Lägg till ett mellanrum mellan sidebar och content */

    }

    
}

/* Mindre laptops (901px till 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    .container {
        margin:  30px; /* Justera marginalerna för mindre skärmar */
    }

    .sidebar {
        width: 100%; /* Justera sidebarens bredd för laptops */
        margin-right: 30px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Tre kolumner för bilder */
        margin-left: -30px; /* Lägg till ett mellanrum mellan sidebar och content */
    }
}







